/* --css-- */

body {
    font-family: Arial, sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}


.container {
    width: 80%;
    margin: 20px auto;
    background-color: #F8EDD2;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;  /* Asegura que el padding no aumente el ancho total */
    overflow: hidden;  /* Evita que el contenido se salga */
}

header {
    text-align: center;
    margin-bottom: 20px;
    
}

.search-social img {
    height: 50px; 
    width: 50px;
}
    

header img {
    width: 200px;
    height: 200px;
}

header h1 {
    margin-top: 10px;
    font-size: 24px;
    color: #3A2E27;
}

header h2 {
    font-size: 18px;
    color: #795548ff;
}


/* Texto del correo */
#email-text {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
    color: #3A2E27;
}

/* Botón de copiado */
.copy-btn {
    padding: 5px 6px;
    font-size: 12px;
    background-color: #9d00ff;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.copy-btn:hover {
    background-color: #F8EDD2;
}

/* Enlace de correo */
.email-link {
    padding: 5px 10px;
    font-size: 12px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.email-link:hover {
    background-color: #0056b3;
}



/* Media Query para pantallas pequeñas (móviles) */
@media (max-width: 480px) {
    .container {
        width: 95%;  /* Aprovecha más el ancho */
        padding: 10px;  /* Menos padding en móviles */
    }

    h2, h3, h4 {
        font-size: 1em;  /* Tamaño más pequeño para dispositivos pequeños */
    }

    p {
        font-size: 0.9em;  /* Reduce el tamaño del párrafo */
    }
}

.sidebar ul {
    font-family: 'Times New Roman', Times, serif;
    list-style-type: none;
    justify-content: space-between;
    padding: 10px;
}

.sidebar ul li {
    margin-bottom: 19px;
}

.sidebar ul li a {
    text-decoration: none;
    color: #9d00ff;
}

section {
    margin-bottom: 20px;
}

section h3 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    color: #3A2E27;
    margin-bottom: 10px;
    border-bottom: 2px solid #e08c79;
    padding-bottom: 5px;
}

section p, section ul {
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
    margin: 0;
    padding: 0;
    color: #666;
}

/* Estilos de las etiquetas */
.tags-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;  
}

.tag {
    background-color: #F7DC6F; 
    color: #795548ff; 
    padding: 10px 15px;
    border-radius: 20px; 
    font-size: 14px;
    text-transform: capitalize;
    display: inline-block;
    transition: background-color 0.3s;
}

.tag:hover {
    background-color: #E08C79;  
    color: #F8EDD2;
    cursor: pointer;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

.filter-container {
    margin-bottom: 20px;
}


h3 {
    color: #333;
    border-bottom: 2px solid #F7DC6F;
    padding-bottom: 10px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.experience-item {
    margin-bottom: 30px;
}

.date-range {
    font-weight: bold;
    color: #555;
    margin-bottom: 10px;
}

/* Estilo de las funciones */
.functions {
    display: flex;  /* Distribución horizontal */
    flex-wrap: wrap;  /* Se ajusta a varias líneas si es necesario */
    gap: 20px;  /* Espaciado entre columnas */
    margin-top: 20px;
}

.function-column {
    flex: 1;  /* Distribuye cada columna de manera equitativa */
    background-color: #ffffff;  /* Color de fondo */
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    min-width: 240px;  /* Ancho mínimo para mantener la estructura */
    box-sizing: border-box;
}

.function-column p {
    font-weight: bold;
    color: #795548ff;
    margin-bottom: 10px;
}

.function-column ul {
    list-style-type: disc;
    padding-left: 20px;
    color: #333;
}

.function-column li {
    margin-bottom: 8px;
    font-size: 14px;
}


.filter-btn {
    padding: 10px 15px;
    margin-right: 5px;
    background-color: #e08c79;
    border: none;
    color: white;
    cursor: pointer;
}

.filter-btn:hover {
    background-color: #d2695d;
}


.carousel-container {
    text-align: center;
    background-color: #F8EDD2;
    padding: 5px;
    position: relative;
    overflow: hidden;
}

.carousel-container img {
    width: 100%;
    /* La imagen ocupará todo el ancho de la tarjeta */
    height: auto;
    /* Mantén las proporciones */
    border-radius: 10px 10px 0 0;
}

.carousel-track-container {
    display: flex;
    justify-content: center;
    overflow: hidden;
}

/* La pista que contiene los ítems del carrusel */
.carousel-track {
    display: flex;
    gap: 5px;
    transition: transform 0.5s ease-in-out;
}

/* Ítems del carrusel */
.carousel-item {
    flex: 0 0 300px; /* Ancho fijo para las tarjetas */
    margin: 10px;
    background: #3A2E27;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    padding: 5px;
    flex: 0 0 auto;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.carousel-item P, h4, button {
    text-align: center;
    color: #F8EDD2;
    margin: 5px;
}

.carousel-item button {
    text-align: center;
    color: #3A2E27;
    background: #F7DC6F;
}

/* Botones de navegación */
.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: #00a6edff;
    color: white;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    z-index: 10;
    transition: background 0.3s;
}

.carousel-btn:hover {
    background: rgb(14, 150, 208);
    color: white;
}

.carousel-btn.prev {
    left: 10px;
    border-radius: 3px;
}

.carousel-btn.next {
    right: 10px;
    border-radius: 3px;
}

/* Filtro */
.filter-container {
    margin-bottom: 20px;
}

.filter-btn {
    padding: 10px 15px;
    margin-right: 5px;
    background-color: #e08c79;
    border: none; 
    color: white;
    cursor: pointer;
}


.filter-btn:hover {
    background-color: #d2695d;
}

ul li {
    margin-bottom: 5px;
}

footer {
   background-color: #e08c7934;
   text-align: center;
   bottom: 0;
   margin: 40px auto;
}

.footer-nav a {
    text-decoration: none;
    color: #e08c79;
    width: 100%;
}

.footer-nav a:hover {
    text-decoration: underline;
}